<div class="container">
    <h1 class="text-center">Gebruikers</h1>
    <div class="example-header" fxLayout="row">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Zoeken">
        </mat-form-field>
    </div>

    <div class="example-container">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Voornaam </th>
                <td mat-cell *matCellDef="let row" data-label="firstname"> {{row.firstname}}</td>
            </ng-container>
            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Achternaam </th>
                <td mat-cell *matCellDef="let row" data-label="lastname"> {{row.lastname}} </td>
            </ng-container>
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gebruikersnaam </th>
                <td mat-cell *matCellDef="let row" data-label="username"> {{row.username}}</td>
            </ng-container>
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                <div *matCellDef="let row" class="mt-3 d-flex">
                    <td mat-cell *ngFor="let role of row.roles" data-label="role" class="pl-0"> {{role.name}}</td>
                </div>
            </ng-container>
            <ng-container matColumnDef="btn">
                <th mat-header-cell *matHeaderCellDef mat-header> Action </th>
                <td mat-cell *matCellDef="let row" data-label="">
                    <button class="btn-sm mr-1" (click)="editUser(row)">
                        <mat-icon aria-hidden="false" class="icon-v-align" aria-label="Example home icon">edit
                        </mat-icon>
                    </button>
                    
                    <button class="btn-sm mr-1" (click)="deleteUser(row.id,row.username)">
                        <mat-icon aria-hidden="false" class="icon-v-align" aria-label="Example home icon">delete
                        </mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>