<div class="container">
    <h2 class="text-center">Plaatsen</h2>
    <div class="m-5">
        <div><button mat-raised-button (click)="addPlace();">Voeg een nieuwe plaats toe</button></div>
        <div>
            <div class="example-header mt-4" fxLayout="row">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Zoeken">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="col">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="table.location.name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tafel </th>
                <td mat-cell *matCellDef="let row" class="pr-1" data-label="table.location.name">
                    {{row.tableLocation.location.name}}</td>
            </ng-container>
            <ng-container matColumnDef="table.zone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Zone </th>
                <td mat-cell *matCellDef="let row" class="pr-1" data-label="table.zone">{{row.tableLocation.zone}}</td>
            </ng-container>
            <ng-container matColumnDef="table.name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tafel </th>
                <td mat-cell *matCellDef="let row" class="pr-1" data-label="table.name"> {{row.tableLocation.name}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Plaats </th>
                <td mat-cell *matCellDef="let row" class="pr-1" data-label="name"> {{row.name}} </td>
            </ng-container>
            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actief </th>
                <td mat-cell *matCellDef="let row" class="pr-1" data-label="active">
                    <div *ngIf="row.active">
                        <mat-icon aria-hidden="false" class="icon-v-align" aria-label="Example home icon">check
                        </mat-icon>
                    </div>
                    <div *ngIf="row.active==false">
                        <mat-icon aria-hidden="false" class="icon-v-align" aria-label="Example home icon">clear
                        </mat-icon>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="btn">
                <th mat-header-cell *matHeaderCellDef mat-header> </th>
                <td mat-cell *matCellDef="let row" data-label="">
                    <button class="btn-sm mr-1" (click)="showDetailPlace(row)">
                        <mat-icon aria-hidden="false" class="icon-v-align" aria-label="Example home icon">edit
                        </mat-icon>
                    </button>
                    <button (click)="deletePlace(row.id,row.name)" class="btn-sm mr-1">
                        <mat-icon aria-hidden="false" class="icon-v-align" aria-label="Example home icon">delete
                        </mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>
