<h2 class="text-center">Plaatsen</h2>
<div class="m-5">
    <div><button mat-raised-button (click)="addPlace();">Voeg een nieuwe plaats toe</button></div>
    <div>
        <div class="example-header mt-4" fxLayout="row">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
    </div>
</div>
<div class="col">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="table.location.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tafel </th>
            <td mat-cell *matCellDef="let row" data-label="table.location.name"> {{row.tableLocation.location.name}}</td>
        </ng-container>
        <ng-container matColumnDef="table.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tafel </th>
            <td mat-cell *matCellDef="let row" data-label="table.name"> {{row.tableLocation.name}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Plaats </th>
            <td mat-cell *matCellDef="let row" data-label="name"> {{row.name}} </td>
        </ng-container>
        <ng-container matColumnDef="btn">
            <th mat-header-cell *matHeaderCellDef mat-header> </th>
            <td mat-cell *matCellDef="let row" data-label="">
                <button class="btn-sm mr-1" (click)="showDetailPlace(row)">Bewerken</button>
                <button (click)="deletePlace(row.id)" class="btn-sm mr-1">Verwijderen</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>


