a{
    background-color: lightgrey !important;
    color: black !important;
}

a:hover{
    background-color: white !important;
    border-color: black !important;
    color: black !important;
    cursor: pointer !important;
}

.borderless
{
    border: none;
}