<div class="container">
    <div class="row">
        <div class="col-md-8 text-dark mt-4">
            <div class="card mb-4">
                <img class="card-img-top" src="../../../../assets/corda-campus.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Corda campus</h2>
                    <p class="card-text">Beste werknemer, vanaf nu is het mogelijk om reservaties te plaatsen via dit
                        platform. Er is de mogelijkheid om te reserveren op de Corda campus 1 & 2.</p>
                    <a (click)="routeToReservate()" class="btn nav-link">Reserveren &rarr;</a>
                </div>
            </div>
            <div class="card mb-4">
                <img class="card-img-top" src="../../../../assets/safety-first.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Dashboard</h2>
                    <p class="card-text">Niet zeker hoeveel volk er aanwezig is? Bekijk ons dashboard voor een beeld van
                        de keuken en kijk hoeveel mensen er binnen zijn gekomen.</p>
                    <a (click)="routeToDashboard()" class="btn nav-link">Dashboard &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card my-4">
                <h5 class="card-header color">Links</h5>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="https://www.elision.eu/" class="nav-link">Website
                                Elision</a></li>
                        <li class="list-group-item"><a (click)="routeToReservate()" class="nav-link">Reserveren</a></li>
                        <li class="list-group-item"><a (click)="routeToDashboard()" class="nav-link">Dashboard</a></li>
                        <li class="list-group-item">
                            <a class="nav-link" matTooltip="Kopieer de url" [cdkCopyToClipboard]="longText" aria-label="Kopieer de knop">Kopieer url</a>
                                                        </li>
                    </ul>
                </div>
            </div>
            <div class="card my-4">
                <h5 class="card-header color">Google Maps</h5>
                <div class="card-body">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2513.442446405986!2d5.349423316442887!3d50.95252347954774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c1214285548b13%3A0xed3def18ce40a171!2sCorda%20Campus!5e0!3m2!1snl!2sbe!4v1611842396973!5m2!1snl!2sbe"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>