button
{
    background-color: #D40000;
    border: black;
    color: white;
}

button:hover{
    background: black;
    color: white;
}

a{
    background-color: #D40000;
    color: white;
}

a:hover{
    background-color: white;
    border-color: black;
    color: black;
}