<h2 class="text-center">Dashboard</h2>
<div class="row m-5 card-row" height="400px">
    <div class="col-sm-6">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Live foto keuken</h5>
                <img src="https://project40ftp.azurewebsites.net/capture.jpg" class="img-fluid" alt="Responsive image">
                <p class="mt-5"><button class="btn-sm mr-1" (click)="refresh();">Refresh</button></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 h-100">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Total people inside</h5>
                <p class="card-text">{{iots[0].totalInside}}</p>
            </div>
        </div>
    </div>
</div>