<div class="container">
  <h3 class="ml-5">Reservatie details</h3>
  <div class="card">
    <div class="card-body">
      <p>plaatsen:</p>
      <ul>
        <li><p>locatie: {{reservation.places[0].tableLocation.location.name}}</p></li>
        <li *ngFor="let place of reservation.places"><p>zone: {{place.tableLocation.zone}}, {{place.tableLocation.name}}, {{place.name}}</p></li>
      </ul>
      <p>datum: {{reservation.date}} </p>
      <p>van: {{reservation.startHour}} - tot: {{reservation.endHour}} </p>
      <p>beschrijving: {{reservation.description}} </p>
      <p>aankomst bevestigd: {{reservation.confirmed?'ja':'nee'}}</p>
      <button mat-raised-button class="ml-5" (click)="btnReturn();">Terug naar overzicht</button>

    </div>

  </div>
</div>
