<h1 class="text-center">Mijn reservaties</h1>
<button mat-raised-button class="ml-5" (click)="newReservation()"></button>
<div class="table-responsive">
  <table class="table m-5">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">amountPersons</th>
        <th scope="col">date</th>
        <th scope="col">description</th>
        <th scope="col">startHour</th>
        <th scope="col">endHour</th>
        <th scope="col">userId</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{reservation.id}}</td>
        <td>{{reservation.amountPersons}}</td>
        <td>{{reservation.date}}</td>
        <td>{{reservation.description}}</td>
        <td>{{reservation.startHour}}</td>
        <td>{{reservation.endHour}}</td>
        <td>{{reservation.user.id}}</td>
        <td><button class="btn-sm mr-1" (click)="showDetailReservation(reservation)">Bewerken</button><button
            (click)="deleteReservation(reservation.id)" class="btn-sm mr-1">Verwijderen</button></td>
      </tr>
    </tbody>
  </table>
</div>
