button {
    background: #D40000;
    border: none;
    border-radius: 2em;
    color: white;
    padding: .5em 1em;
  }

  button:disabled,button[disabled]
  {
      opacity: 0.4;
  }

  table {
    width: 100%;
  }
  
  .mat-table .mat-cell {
    border-bottom: 1px solid white;
  }

