@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.template{
    background-color: blue !important;

}

.background
{
    background-image: url("../assets/cool-background.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}
