

table {
  width: 100%;
}

.mat-table .mat-cell {
  border-bottom: 1px solid white;
}

button {
    background:#e20000;
    border: none;
    border-radius: 2em;
    color: white;
    padding: .5em 1em;
  }
