<h2 class="text-center">Reservaties</h2>

<div class="col" fxLayout="row">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Zoeken">
  </mat-form-field>
</div>

<div class="col mb-5">

  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="amountPersons">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Aantal pers. </th>
      <td mat-cell *matCellDef="let row" data-label="amountPersons"> {{row.amountPersons}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> datum </th>
      <td mat-cell *matCellDef="let row" data-label="date"> {{row.date}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> beschr. </th>
      <td mat-cell *matCellDef="let row" data-label="description"> {{row.description}} </td>
    </ng-container>

    <ng-container matColumnDef="startHour">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> van </th>
      <td mat-cell *matCellDef="let row" data-label="startHour"> {{row.startHour}} </td>
    </ng-container>

    <ng-container matColumnDef="endHour">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> tot </th>
      <td mat-cell *matCellDef="let row" data-label="endHour"> {{row.endHour}} </td>
    </ng-container>

    <ng-container matColumnDef="btn">
      <th mat-header-cell *matHeaderCellDef mat-header> </th>
      <td mat-cell *matCellDef="let row" data-label="">
        <button class="btn-sm mr-1" (click)="showDetailReservation(row)">Bewerken</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
