<h2 class="text-center">Locatie aanmaken</h2>
<form [formGroup]="locationForm" (ngSubmit)="onSubmit()" class="ml-5 mr-5 mt-5">
        <p>Naam:
                <input type="text" formControlName="name" class="form-control" />
        </p>
        <p>Adres:
                <input type="text" formControlName="address" class="form-control" />
        </p>
        <p>Omschrijving:
                <input type="text" formControlName="description" class="form-control" />
        </p>
        <p><button mat-raised-button type="submit"
                        [disabled]="!locationForm.valid || submitted"> <span *ngIf="submitted"
                        class="spinner-border spinner-border-sm mr-1"></span>Toevoegen</button></p>
</form>
<button mat-raised-button class="ml-5" (click)="btnReturn();">Terug naar overzicht</button>