<div class="container">
    <h3 class="ml-5 text-center">Gebruiker bewerken</h3>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="ml-5 mr-5 mt-5">
        <input type="hidden" id="Id" name="Id" formControlName="id">
        <input type="hidden" id="password" name="password" formControlName="password">

        <div class="form-group">
            <label for="firstname">Voornaam:</label>
            <input matInput type="text" id="firstname" formControlName="firstname" class="form-control"
                [readonly]="true" />
        </div>

        <div class="form-group">
            <label for="lastname">Achternaam:</label>
            <input matInput type="text" id="lastname" formControlName="lastname" class="form-control"
                [readonly]="true" />
        </div>

        <div class="form-group">
            <label for="username">Gebruikersnaam:</label>
            <input matInput type="text" id="username" formControlName="username" class="form-control"
                [readonly]="true" />
        </div>

        <div class="form-group">
            <select formControlName="selectedRole" class="form-control">
                <option *ngFor="let role of roles" [ngValue]="role.id" selected="{{role.id}}">
                    {{role.name}}
                </option>
            </select>
        </div>

        <p><button type="submit" class="btn" [disabled]="!userForm.valid || submitted"><span *ngIf="submitted"
                    class="spinner-border spinner-border-sm mr-1"></span>Bewerken</button></p>
        <p>
            <button *ngIf="!rfidSubmitted" type="button" (click)="onPushRfid();">Stel RFID in van de gebruiker</button>
        </p>
    </form>
    <div *ngIf="rfidSubmitted" class="p-3 mb-2 bg-light text-dark m-5 rounded border border-dark">
        <h4>RFID bijgewerkt</h4>
        <p>De id van de gebruiker werd verstuurd.</p>
    </div>
    <button class="ml-5" (click)="btnReturn();">Terug naar overzicht</button>
</div>