<h2 class="text-center">Tafels</h2>
<button mat-raised-button class="ml-5" (click)="addTable();">Voeg een nieuwe tafel toe</button>
<table class="table m-5 table-hover">
    <thead>
        <tr class="row">
            <th class="col-sm-2">Zone</th>
            <th class="col-sm-2">Naam</th>
            <th class="col-sm-2"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="row" *ngFor="let t of tables">
            <td class="col-sm-2">{{t.zone}}</td>
            <td class="col-sm-2">{{t.name}}</td>
            <td class="col-sm-2"><button mat-raised-butto (click)="showDetailTable(t)">Bewerken</button><button mat-raised-button 
                (click)="deleteTable(t.id)">Verwijderen</button></td>
        </tr>
    </tbody>
</table>

