<h2 class="text-center">Tafels</h2>
<button mat-raised-button class="ml-5" (click)="addTable();">Voeg een nieuwe tafel toe</button>
<button mat-raised-button class="ml-5" (click)="updateTable()">Update een tafel</button>
<table class="table m-5">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Naam</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of tables">
            <td>{{t.id}}</td>
            <td>{{t.name}}</td>
            <td><button mat-raised-butto (click)="showDetailTable(l)">Bewerken</button><button mat-raised-butto
                    (click)="deleteTable(t.id)">Verwijderen</button></td>
        </tr>
    </tbody>
</table>

