<!-- <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
    <div class="mdl-layout__header-row">
        <h3>TeamF1CodingAPP</h3>
    </div>
</header> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/"><img src="../../../assets/f1logo.png" alt="" height="50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarToggler">
        <!-- Knoppen links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a *ngIf="authService.isLoggedIn()" class="nav-link" routerLink="/location"
                    [routerLinkActive]="['active']">Locaties</a>
            </li>
            <li class="nav-item">
                <a *ngIf="authService.isLoggedIn()" class="nav-link" routerLink="/employee"
                    [routerLinkActive]="['active']">Reserveren</a>
            </li>
            <li class="nav-item">
                <a *ngIf="authService.isLoggedIn()" class="nav-link" routerLink="/reservations"
                    [routerLinkActive]="['active']">Mijn reservaties</a>
            </li>
            <li class="nav-item">
                <a *ngIf="authService.isLoggedIn()" class="nav-link" routerLink="/tables"
                    [routerLinkActive]="['active']">Tafels</a>
            </li>
            <li class="nav-item">
                <a *ngIf="authService.isLoggedIn()" class="nav-link" routerLink="/dashboard"
                    [routerLinkActive]="['active']">Dashboard</a>
            </li>
            <li class="nav-item">
                <a *ngIf="authService.isLoggedIn()" class="nav-link" routerLink="/admin-dashboard"
                    [routerLinkActive]="['active']">Admin dashboard</a>
            </li>
        </ul>

        <!-- Knoppen rechts -->
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a *ngIf="!authService.isLoggedIn()" class="nav-link" routerLink="/login"
                    [routerLinkActive]="['active']">Login</a>
            </li>
            <li class="nav-item">
                <a *ngIf="!authService.isLoggedIn()" class="nav-link" routerLink="/register"
                    [routerLinkActive]="['active']">Registreren</a>
            </li>
            <li class="nav-item" display="inline-block">
                <a *ngIf="authService.isLoggedIn()" class="nav-link" routerLink="/profile">Welkom <span
                        style="color: rebeccapurple; margin-right: 1em;">{{currentUser.firstname}}</span></a>
            </li>
            <li class="nav-item">
                <a *ngIf="authService.isLoggedIn()" class="nav-link" routerLink="/logout">Uitloggen</a>
            </li>
        </ul>
    </div>
</nav>