h2 {
  margin-top: 20px;
}

img {
  border-radius: 15px;
  @media (max-width: 480px) {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  width: 100%;
  margin-left: 1em;
}

button {
  background:#e20000;
  border: none;
  border-radius: 2em;
  color: white;
  padding: .5em 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

label {
  //color: white;
  padding-right: 1em;
  vertical-align: top;
}

.form-group {
  padding-top: 1em;
}

.form-row {
  max-width: 360px;
}

select {
  width: 100%;
}

form {
  margin-left: 0;
  @media (max-width: 480px) {
    margin-left: 0;
  }
}

.con {
  position: relative;
  margin: 0!important;
  width: 40%;
  @media (max-width: 480px) {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
  }
}

.con .btn {
  position: absolute;
  top: 1%;
  left: 80%;
  background:#e20000;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 2em;

}

.formField {
  width: 20%;
  margin-left: 6%;
  margin-right: 6%;
  @media (max-width: 480px) {
    margin-left: 6%;
    margin-right: 6%;
    width: 100%;
  }
}

.timesheet {
  width: 20%;
  margin-left: 6%;
  margin-right: 6%;
  @media (max-width: 480px) {
    margin-left: 6%;
    margin-right: 6%;
    width: 100%;
  }
  @media (min-width: 1280px) {
    margin-top: 2em;
  }
}
