<div class="container">
  <h2 class="mb-5">Reserveer een tafel</h2>
  <img src="../../../../assets/Grondplan Corda 1 +5.png" alt="">

  <div class="formField">
    <form [formGroup]="reservateForm" (ngSubmit)="onSubmit()">
      <div class="form-row">

        <div class="form-group col">
          <label for="zone">Zone</label>
          <select name="zone" id="zone" formControlName="selectedZone" class="form-control">
            <option *ngFor="let zone of zones" value="{{zone}}">{{zone}}</option>
          </select>
        </div>

        <div class="form-group col">
          <label for="table">Tafel</label>
          <select name="table" id="table" formControlName="selectedTable" class="form-control">
            <option *ngFor="let table of tables" value="{{table.name}}">{{table.name}}</option>
          </select>
        </div>

      </div>

      <div class="form-row">

        <div class="form-group col">
          <label for="from">van</label>
          <input type="time" name="from" id="from" formControlName="from" class="form-control">
        </div>

        <div class="form-group col">
          <label for="till">tot</label>
          <input type="time" name="till" id="till" formControlName="till" class="form-control">
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col">
          <label for="date">Datum</label>
          <input type="date" id="date" name="date" formControlName="date" class="form-control">
          <!-- <ngb-datepicker class="my-datepicker-1" formControlName="date" id="date" name="date"></ngb-datepicker> -->
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label for="amountPersons">Aantal personen</label>
          <input type="number" id="amountPersons" name="amountPersons" formControlName="amountPersons" class="form-control">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label for="description">Beschrijving</label>
          <input type="text" id="description" name="description" formControlName="description" class="form-control">
        </div>
      </div>

      {{reservateForm.value | json }}
      <button type="submit" [disabled]="!reservateForm.valid || submitted" class="btn btn-primary">
        <span *ngIf="submitted" class="spinner-border spinner-border-sm mr-1"></span>
        Reserveren
      </button>
    </form>
  </div>

</div>
