h2 {
  margin-top: 20px;
}

img {
  border-radius: 15px;
  @media (max-width: 480px) {
    width: 99%;
  }
}

button {
  background: #8716F9;
  border: none;
  border-radius: 2em;
  color: white;
  padding: .5em 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

label {
  //color: white;
  padding-right: 1em;
  vertical-align: top;
}

.form-group {
  padding-top: 1em;
}

.form-row {
  max-width: 360px;
}

select {
  width: 100%;
}

:host ::ng-deep ngb-datepicker{
    left: 0px !important;
    top: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    position: relative !important;
    transform: translate(0px, 28px)!important;
    background: white !important;
}
