<div class="container" *ngIf="currentUser; else loggedOut">
    <h3 class="text-center">Profiel van <strong>{{ currentUser.firstname }} {{ currentUser.lastname }}</strong></h3>
    <br/>
    <p class="text-center">
        <strong>Naam: </strong>
        {{ currentUser.firstname }}
        {{ currentUser.lastname }}
    </p>
    <p class="text-center">
        <strong>Gebruikersnaam: </strong>
        {{ currentUser.username }}
    </p>
    <p class="text-center" *ngFor="let role of currentUser.roles">
        <strong>Role: </strong>
        {{ role }}
    </p>
    <br />

    <!-- <button class="btn" (click)="btnEdit();">Gegevens bewerken</button> -->
</div>

<ng-template #loggedOut>
    Please login.
</ng-template>